# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
test-results

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# Ignore auto generated CSS declarations
*.module.css.d.ts
*.module.sass.d.ts
*.module.scss.d.ts
*.module.less.d.ts
*.module.styl.d.ts
*.module.stylus.d.ts